
@{
    ViewData["Title"] = "Contactanos";
}
<h2>Contáctanos</h2>
<p>Si tiene alguna pregunta o sugerencia, no dude en ponerse en contacto con nosotros. Estaremos encantados de ayudarte.</p>

<div>
    <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </span>
    <email address="example@example.com" content="Enviar Email"></email>
</div>
