
@{
    ViewData["Title"] = "CheckoutComplete";
}
<h2>Pedido Aceptado</h2>

<p>
    Gracias por tu orden. Nos pondremos en contacto con usted dentro de 1-2 días hábiles.
</p>

<br />
<p>
    ¿Te gustaría pedir más?
    <a href="/">Click Aquí</a>
</p>
<p>O</p>
<p>
    ¡Comprueba los detalles de tu pedido!
    <a href="/order/myOrder">Click Aquí</a>
</p>
