

<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categorías
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Vanilla Cakes">Pasteles de Vanilla</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Chocolate Cakes">Pasteles de Chocolate</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Fruit Cakes">Pasteles de frutas</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="">Todos los pasteles</a>
</div>
